extends layout

block content
  .off-canvas-wrapper
    .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
      #offCanvas.off-canvas.position-left(data-off-canvas='')
        nav.left-off-canvas-menu
          .song-wrap.current-song
            .time
              i.fi-play
            .name The Encyclopedists
          .song-wrap
            .time 14:23
            .name The Encyclopedists Encyclopedists - Encyclopedists Encyclopedists
          .song-wrap
            .time 14:23
            .name The Encyclopedists
          .song-wrap
            .time 14:23
            .name The Encyclopedists
      .off-canvas-content(data-off-canvas-content='')
        #player.content-wrapper
          .media-buttons
            .button-group.clearfix.float-center
              a.button.columns.small-3(data-toggle='offCanvas')
                i.fi-music
              a#play.button.columns.small-3
                i.fi-play.active
              a#stop.button.columns.small-3
                i.fi-stop
              a.button.columns.small-3.volume-btn
                i.fi-volume
                span.volume
                  span.slider.vertical(data-end='100', data-initial-start='50', data-slider='', data-vertical='true')
                    span.slider-handle(aria-controls='Value', data-slider-handle='', role='slider', tabindex='1')
                    span.slider-fill(data-slider-fill='')
                  input#Value(disabled=' ', type='number')
  != js("main")

