extends layout

block content
  .off-canvas-wrapper
    .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
      #offCanvas.off-canvas.position-left(data-off-canvas='')
        nav#playlist.left-off-canvas-menu
          #current
          #history
        .footer
          a(href='#')
            i.fi-social-github
          a.logo-company(href='#')
            img(alt='Fusion Works', src='images/logo.png')
          p.copyRights
            | MIT license
            br
            | Copyright © 2016 Fusion Works

      .off-canvas-content(data-off-canvas-content='')
        #player.content-wrapper
          .media-buttons(style="display: none;")
            .button-group.clearfix.float-center
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
              #player-nav(style="display: none;")
                .track-wrapper
                  .track(style="display: none;")
                a.button.columns.small-3(data-toggle='offCanvas')
                  i.fi-music
                a#play.button.columns.small-3
                  i.fi-play.active
                a#stop.button.columns.small-3
                  i.fi-stop
                a.button.columns.small-3.volume-btn
                  i.fi-volume
                  span.volume
                    span#volume-slider.slider.vertical(data-end='100', data-initial-start='80', clickSelect='true', data-vertical='true', aria-valuemin=0, aria-valuemax=100, aria-valuenow=80)
                      span.slider-handle(aria-controls='actual-volume', data-slider-handle='', role='slider', tabindex='1')
                      span.slider-fill(data-slider-fill='')
                    input#actual-volume(type="hidden")
                    input#volume(disabled=' ', type='number')
  script.
    window.opts = {
      track: !{track},
      history: !{history},
      config: !{config}
    }
  script(src='http://localhost:3014/socket.io/socket.io.js')
  != js("main")

