doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')

    meta(property="og:title" content="FusionWorks Radio")
    meta(property="og:type" content="music.radio_station")
    meta(property="og:url" content="http://#{config.hostname}")
    meta(property="og:image" content="http://#{config.hostname}/images/logo.png")
    meta(property="og:image:width" content="162")
    meta(property="og:image:height" content="98")
    meta(property="og:description" content="A radio to make the best of your working experience")

    link(href="images/ico.png", rel="icon", type="image/png")
    title FusionWorks Radio
    != css("main")
  body
    block content
