doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(content='ie=edge', http-equiv='x-ua-compatible')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    link(href="images/ico.png", rel="icon", type="image/png")
    title Fusion Radio
    != css("main")
  body
    block content
