@import url(../bower_components/foundation-sites/dist/foundation.min.css);
@import url(../fonts/foundation-icons.css);
* {
  outline: none 0;
}

.off-canvas-wrapper, .off-canvas-wrapper-inner {
  height: 100%;
}

.off-canvas-content {
  overflow: hidden;
}

.content-wrapper {
  height: 100%;
}

.content-wrapper .media-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 100%;
  margin: 0;
}

.content-wrapper .media-buttons .button-group {
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  display: inline-block;
  width: 320px;
  vertical-align: bottom;
}

.content-wrapper .media-buttons .button-group .track-wrapper {
  height: 3px;
}

.content-wrapper .media-buttons .button-group .track-wrapper .track {
  height: 3px;
  background-color: #1d92cf;
  width: 20%;
}

.content-wrapper .media-buttons .button-group .button {
  background-color: transparent;
  font-size: 1.4rem;
  padding: 1rem 2.019rem 0.9rem;
  position: relative;
  border: none;
}

.content-wrapper .media-buttons .button-group .button:hover {
  background-color: black;
}

.content-wrapper .media-buttons .button-group .button .fi-play.active {
  color: #1fd327;
}

.content-wrapper .media-buttons .button-group .button .fi-stop.stop {
  color: #E64B4B;
}

.content-wrapper .media-buttons .button-group .button .volume {
  position: absolute;
  width: 100%;
  height: 140px;
  top: 100%;
  right: 0;
  background-color: #000;
  padding-top: 10px;
}

.content-wrapper .media-buttons .button-group .button .volume .slider.vertical {
  height: 70%;
}

.content-wrapper .media-buttons .button-group .button .volume #Value {
  background: transparent;
  color: #fff;
  border: none;
  text-align: center;
  padding-left: 20px;
}

.content-wrapper .media-buttons .button-group .volume-btn.mute {
  color: #E64B4B;
}

.content-wrapper .media-buttons .button-group .volume-btn.mute .fi-volume:before {
  content: "\f210";
}

.content-wrapper .media-buttons .button-group .volume-btn.active {
  background-color: #000;
}

.content-wrapper .media-buttons .button-group .volume-btn.active .volume {
  bottom: 100%;
  top: auto;
}

.off-canvas {
  height: 100%;
  background-color: #333333;
  display: table;
}

.off-canvas .footer {
  display: table-row;
  height: 1px;
  text-align: center;
  color: #fff;
}

.off-canvas .footer .fi-social-github {
  font-size: 30px;
  color: #fff;
}

.off-canvas .footer .logo-company {
  margin-left: 10px;
}

.off-canvas .footer .logo-company img {
  width: 30px;
}

.off-canvas .footer a {
  display: inline-block;
  vertical-align: middle;
}

.off-canvas .footer .copyRights {
  font-size: 11px;
  line-height: 13px;
}

.off-canvas .song-wrap {
  border-bottom: 1px solid #262626;
  color: rgba(255, 255, 255, 0.7);
  display: table;
  width: 100%;
  padding: 0.66667rem;
  -webkit-transition: background 500ms ease;
  -moz-transition: background 500ms ease;
  -o-transition: background 500ms ease;
  transition: background 300ms ease;
}

.off-canvas .song-wrap.current-song {
  color: #fff;
}

.off-canvas .song-wrap.current-song .time {
  width: 20px;
}

.off-canvas .song-wrap.current-song .time .fi-play {
  color: #1fd327;
  font-size: 150%;
}

.off-canvas .song-wrap .time, .off-canvas .song-wrap .name {
  display: table-cell;
  vertical-align: middle;
}

.off-canvas .song-wrap .time {
  font-size: 70%;
  color: #fff;
  width: 40px;
}

.slider.vertical .slider-handle {
  width: 1rem;
  height: 1rem;
}

.spinner {
  margin: 5px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
