/*= require foundation-sites/dist/foundation.min.css */
/*= require foundation-icons.css */

* {
  outline: none 0;
}
.off-canvas-wrapper, .off-canvas-wrapper-inner {
  height: 100%;
}
.off-canvas-content {overflow: hidden;}
.content-wrapper {
  height: 100%;
  .media-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    .button-group {
      background-color: rgba(0,0,0,0.7);
      margin-bottom: 0;
      display: inline-block;
      vertical-align: bottom;
      .track-wrapper {
        height: 3px;
        .track {
          height:3px;
          background-color: #1d92cf;
          width: 0;
        }
      }
      .button {
        font-size: 1.4rem;
        padding: 1rem 2.019rem 0.9rem;
        position: relative;
        border: none;
        background-color: transparent;
        &:hover {
          background-color: rgba(0,0,0,1);
        }
        .fi-play.active {
          color: #1fd327;
        }
        .fi-stop.stop {
          color: #E64B4B;
        }
        .volume {
          position: absolute;
          width:100%;
          height: 140px;
          top: 100%;
          right: 0;
          background-color: #000;
          padding-top: 10px;
          .slider.vertical {
            height: 70%;
          }
          #volume {
            background: transparent;
            color: #fff;
            border: none;
            text-align: center;
            padding-left: 20px;
          }
          #actual-volume {
            display: none;
          }
        }
      }
      .volume-btn.active {
        background-color: #000;
        .volume {
          bottom: 100%;
          top: auto;
        }
      }
    }
  }
}
.off-canvas {
  height: 100%;
  background-color: #333333;
  .song-wrap{
    border-bottom: 1px solid #262626;
    color: rgba(255, 255, 255, 0.7);
    display: table;
    width: 100%;
    padding: 0.66667rem;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 300ms ease;
    &.current-song {
      color: #fff;
      .time {
        width: 20px;
        .fi-play {
          color: #1fd327;
          font-size: 150%;
        }
      }
    }
    .time, .name {
      display: table-cell;
      vertical-align: middle;
    }
    .time {
      font-size: 70%;
      color: #fff;
      width: 40px;
    }
  }
}
.slider.vertical .slider-handle {width: 1rem; height: 1rem;}
