/*= require foundation-sites/dist/foundation.min.css */
/*= require foundation-icons.css */

* {
  outline: none 0;
}
.off-canvas-wrapper, .off-canvas-wrapper-inner {
  height: 100%;
}
.off-canvas-content {overflow: hidden;}
.content-wrapper {
  height: 100%;
  .media-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    .button-group {
      background-color: rgba(0,0,0,0.7);
      width: 320px;
      margin-bottom: 0;
      display: inline-block;
      vertical-align: bottom;
      .track-wrapper {
        height: 3px;
        .track {
          height:3px;
          background-color: #1d92cf;
          width: 0;
        }
      }
      .button {
        font-size: 1.4rem;
        padding: 1rem 2.019rem 0.9rem;
        position: relative;
        border: none;
        background-color: transparent;
        &:hover {
          background-color: rgba(0,0,0,1);
        }
        .fi-play.active {
          color: #1fd327;
        }
        .fi-stop.stop {
          color: #E64B4B;
        }
        .volume {
          position: absolute;
          width:100%;
          height: 140px;
          top: 100%;
          right: 0;
          background-color: #000;
          padding-top: 10px;
          .slider.vertical {
            height: 70%;
          }
          #volume {
            background: transparent;
            color: #fff;
            border: none;
            text-align: center;
            padding-left: 20px;
          }
          #actual-volume {
            display: none;
          }
        }
      }
      .volume-btn {
        &.mute {
          color: #E64B4B;
          .fi-volume:before {
            content: "\f210"
          }
        }
        &.active {
          background-color: #000;
          .volume {
            bottom: 100%;
            top: auto;
          }
        }
      }
    }
  }
}
.off-canvas {
  height: 100%;
  background-color: #333333;
  display: table;
  .footer {
    display: table-row;
    height: 1px;
    text-align: center;
    color: #fff;
    .fi-social-github {
      font-size: 30px;
      color:#fff;
    }
    .logo-company {
      margin-left: 10px;
      img {
        width: 30px;
      }
    }
    a {
      display: inline-block;
      vertical-align: middle;
    }
    .copyRights {
      font-size: 11px;
      line-height: 13px;
    }
  }
  .song-wrap{
    border-bottom: 1px solid #262626;
    color: rgba(255, 255, 255, 0.7);
    display: table;
    width: 100%;
    padding: 0.66667rem;
    -webkit-transition: background 500ms ease;
    -moz-transition: background 500ms ease;
    -o-transition: background 500ms ease;
    transition: background 300ms ease;
    &.current-song {
      color: #fff;
      .time {
        width: 20px;
        .fi-play {
          color: #1fd327;
          font-size: 150%;
        }
      }
    }
    .time, .name {
      display: table-cell;
      vertical-align: middle;
    }
    .time {
      font-size: 70%;
      color: #fff;
      width: 40px;
    }
  }
}
.slider.vertical .slider-handle {width: 1rem; height: 1rem;}
.spinner {
  margin: 7px auto 8px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 0 1px;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
