<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title FW Radio Station
          %link{:href => "css/app.css", :rel => "stylesheet"}
  %body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{"data-off-canvas-wrapper" => ""}
        #offCanvas.off-canvas.position-left{"data-off-canvas" => ""}
          %nav.left-off-canvas-menu
            .song-wrap.current-song
              .time
                %i.fi-play
              .name The Encyclopedists
            .song-wrap
              .time 14:23
              .name The Encyclopedists Encyclopedists - Encyclopedists Encyclopedists
            .song-wrap
              .time 14:23
              .name The Encyclopedists
            .song-wrap
              .time 14:23
              .name The Encyclopedists
          .footer
            %a{:href => "#"}
              %i.fi-social-github
            %a.logo-company{:href => "#"}
              %img{:src => "img/logo.png", :alt => "Fusion Works"}/
            %p.copyRights
              MIT license
              %br/
              Copyright &copy; 2016 Fusion Works

        .off-canvas-content{"data-off-canvas-content" => ""}
          .content-wrapper
            .media-buttons
              .button-group.clearfix.float-center
                .track-wrapper
                  .track
                %a.button.columns.small-3{"data-toggle" => "offCanvas",}
                  %i.fi-music
                %a.button.columns.small-3
                  %i.fi-play.active
                %a.button.columns.small-3
                  %i.fi-stop.stop
                %a.button.columns.small-3.volume-btn
                  %i.fi-volume
                  %span.volume
                    %span.slider.vertical{"data-end" => "100", "data-initial-start" => "50", "data-slider" => "", "data-vertical" => "true"}
                      %span.slider-handle{"aria-controls" => "Value", "data-slider-handle" => "", :role => "slider", :tabindex => "1"}
                      %span.slider-fill{"data-slider-fill" => ""}
                    %input#Value{:type => "number", :disabled => ""}/
                / .spinner
                /   .rect1
                /   .rect2
                /   .rect3
                /   .rect4
                /   .rect5


    %script{:src => "bower_components/jquery/dist/jquery.js"}
    %script{:src => "bower_components/foundation-sites/dist/foundation.js"}
    %script{:src => "bower_components/jquery-backstretch/src/jquery.backstretch.js"}
    %script{:src => "js/app.js"}
